*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/jni/mp4v2/include/.svn/prop-base/
app/src/main/jni/mp4v2/include/.svn/props/
app/src/main/jni/mp4v2/include/.svn/text-base/
app/src/main/jni/mp4v2/include/.svn/tmp/
app/src/main/jni/mp4v2/include/mp4v2/.svn/props/
app/src/main/jni/mp4v2/include/mp4v2/.svn/tmp/
app/src/main/jni/mp4v2/libplatform/.svn/props/
app/src/main/jni/mp4v2/libplatform/.svn/tmp/
app/src/main/jni/mp4v2/libplatform/io/.svn/props/
app/src/main/jni/mp4v2/libplatform/io/.svn/tmp/
app/src/main/jni/mp4v2/libplatform/number/.svn/props/
app/src/main/jni/mp4v2/libplatform/number/.svn/tmp/
app/src/main/jni/mp4v2/libplatform/process/.svn/props/
app/src/main/jni/mp4v2/libplatform/process/.svn/tmp/
app/src/main/jni/mp4v2/libplatform/prog/.svn/props/
app/src/main/jni/mp4v2/libplatform/prog/.svn/tmp/
app/src/main/jni/mp4v2/libplatform/sys/.svn/props/
app/src/main/jni/mp4v2/libplatform/sys/.svn/tmp/
app/src/main/jni/mp4v2/libplatform/time/.svn/props/
app/src/main/jni/mp4v2/libplatform/time/.svn/tmp/
app/src/main/jni/mp4v2/libutil/.svn/props/
app/src/main/jni/mp4v2/libutil/.svn/tmp/
app/src/main/jni/mp4v2/src/.svn/props/
app/src/main/jni/mp4v2/src/.svn/tmp/
app/src/main/jni/mp4v2/src/bmff/.svn/props/
app/src/main/jni/mp4v2/src/bmff/.svn/tmp/
app/src/main/jni/mp4v2/src/itmf/.svn/props/
app/src/main/jni/mp4v2/src/itmf/.svn/tmp/
app/src/main/jni/mp4v2/src/qtff/.svn/props/
app/src/main/jni/mp4v2/src/qtff/.svn/tmp/
app/src/main/jni/mp4v2/util/.svn/props/
app/src/main/jni/mp4v2/util/.svn/tmp/
app/src/main/obj/
app/src/main/res/drawable/
libs/
src/main/jni/mp4v2/include/.svn/prop-base/
src/main/jni/mp4v2/include/.svn/props/
src/main/jni/mp4v2/include/.svn/text-base/
src/main/jni/mp4v2/include/.svn/tmp/
src/main/jni/mp4v2/include/mp4v2/.svn/props/
src/main/jni/mp4v2/include/mp4v2/.svn/tmp/
src/main/jni/mp4v2/libplatform/.svn/props/
src/main/jni/mp4v2/libplatform/.svn/tmp/
src/main/jni/mp4v2/libplatform/io/.svn/props/
src/main/jni/mp4v2/libplatform/io/.svn/tmp/
src/main/jni/mp4v2/libplatform/number/.svn/props/
src/main/jni/mp4v2/libplatform/number/.svn/tmp/
src/main/jni/mp4v2/libplatform/process/.svn/props/
src/main/jni/mp4v2/libplatform/process/.svn/tmp/
src/main/jni/mp4v2/libplatform/prog/.svn/props/
src/main/jni/mp4v2/libplatform/prog/.svn/tmp/
src/main/jni/mp4v2/libplatform/sys/.svn/props/
src/main/jni/mp4v2/libplatform/sys/.svn/tmp/
src/main/jni/mp4v2/libplatform/time/.svn/props/
src/main/jni/mp4v2/libplatform/time/.svn/tmp/
src/main/jni/mp4v2/libutil/.svn/props/
src/main/jni/mp4v2/libutil/.svn/tmp/
src/main/jni/mp4v2/src/.svn/props/
src/main/jni/mp4v2/src/.svn/tmp/
src/main/jni/mp4v2/src/bmff/.svn/props/
src/main/jni/mp4v2/src/bmff/.svn/tmp/
src/main/jni/mp4v2/src/itmf/.svn/props/
src/main/jni/mp4v2/src/itmf/.svn/tmp/
src/main/jni/mp4v2/src/qtff/.svn/props/
src/main/jni/mp4v2/src/qtff/.svn/tmp/
src/main/jni/mp4v2/util/.svn/props/
src/main/jni/mp4v2/util/.svn/tmp/
src/main/obj/
src/main/res/drawable/
